body{
background:white;
font-family:Arial;
}

/* Sidebar */

.sidebar{
height:100vh;
background:#111827;
color:white;
position:fixed;
width:230px;
}

.sidebar h3{
text-align:center;
padding:20px;
border-bottom:1px solid #333;
}

.sidebar a{
display:block;
color:white;
padding:15px;
text-decoration:none;
}

.sidebar a:hover{
background:#1f2937;
}

/* Navbar */

.navbar{
margin-left:230px;
background:rgb(255, 255, 255);
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

/* Content */

.content{
margin-left:230px;
padding:30px;
}

/* Cards */

.card-box{
border:none;
border-radius:10px;
padding:20px;
color:white;
}

.steps{ 
    background:#4CAF50;
}
.calories{ background:#ff5722;}
.water{ background:#2196F3;}
.bmi{ background:#9C27B0;}
